.button {
  border: 1px solid #34c94b;
  background-color: black;
  width: 170;
  height: 47;
  top: 13px;
  left: 1238px;
  gap: 10px;
  border-width: 1px;
  border-radius: 12px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
}

.button:hover {
  cursor: pointer;
}
